<%- include('partials/head') %>
    <main class="container-fluid" id="main">
        <section class="row justify-content-lg-center align-items-center" id="about">
            <div class="col-lg-5 col-md-4 col-sm-10 imageText">
                <h1 class="" >Lesly Estrada</h1>
                <p class="lead">Community Manager Independiente</p> 
                <p> <i>"Si tu marca o negocio no está en las redes entonces no existe."</i> </p>       
            </div>
            <div class="col-lg-6 col-md-6 col-sm-8 text-center">
                <img src="imgs/community_manager.png" alt="community manager" class="img-fluid " id="aboutImg1">
            </div>
        </section>
        <section class="row justify-content-center align-items-center mt-5" >
            
            <div class="col-lg-6 col-md-6 col-sm-8 text-center">
                <img src="imgs/img2.png" alt="community manager" class="img-fluid" >
            </div>
            <div class="col-lg-5 col-md-4 col-sm-10 imageText">
                <h2 class="subtitle">¿Qué lograrás al contratar mis servicios?</h2>
                <p><i>Una presencia óptima de tu marca en <b>RRSS</b> que permita ser recordada por poetenciales clientes y la construcción de una conmunidad a la que le interese tus productos y servicios</i></p>       
            </div>
        </section>
        <section class="row justify-content-center " id="servicios">
            <h2 class="text-center">¡Mejora tu marca con nuestros Packs!</h2>
            <div class="col-lg-4 col-md-6 boxPack">    
                <ul class="list-unstyled pack">
                    <h3 class="text-center servicesSubtitles">Si estas empezando:</h3>
                    <li> <i class="bi bi-check-lg"></i> Kit de marca</li>
                    <li> <i class="bi bi-check-lg"></i> Optimización de tu perfil de Instagram</li>
                    <li> <i class="bi bi-check-lg"></i> Fan Page</li>
                    <li> <i class="bi bi-check-lg"></i>Plantillas personaliadas</li>
                    <li> <i class="bi bi-check-lg"></i> Historias destacadas</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 boxPack">
                
                <ul class="list-unstyled pack">
                    <h3 class="servicesSubtitles">Si ya tienes tu negocio:</h3>
                    <li> <i class="bi bi-check-lg"></i> Pack de diseño</li>
                    <li> <i class="bi bi-check-lg"></i> Manejo de redes sociales</li>
                    <li> <i class="bi bi-check-lg"></i> Calendario de contenidos</li>
                    <li> <i class="bi bi-check-lg"></i> 8 publicaciones en el feed por mes</li>
                    <li> <i class="bi bi-check-lg"></i> 12 Historias por mes</li>
                    <li> <i class="bi bi-check-lg"></i> Redacción de copy</li>
                </ul> 
            </div>
            <div class="col-lg-4 col-md-12 boxPack">
                
                <ul class="list-unstyled pack">
                    <h3 class="servicesSubtitles">Pack Completo:</h3>
                    <li> <i class="bi bi-check-lg"></i> Kit de marca</li>
                    <li> <i class="bi bi-check-lg"></i> Optimización de tu perfil de Instagram</li>
                    <li> <i class="bi bi-check-lg"></i> Fan Page</li>
                    <li> <i class="bi bi-check-lg"></i>Plantillas personaliadas</li>
                    <li> <i class="bi bi-check-lg"></i> Historias destacadas</li>
                    <li> <i class="bi bi-check-lg"></i>Manejo de redes sociales </li>
                    <li> <i class="bi bi-check-lg"></i>Calendario de contenidos</li>
                    <li> <i class="bi bi-check-lg"></i>Creación de contenidos</li>
                    <li> <i class="bi bi-check-lg"></i>Atención al cliente</li>
                    <li> <i class="bi bi-check-lg"></i>Manejo de crisis</li>
                </ul> 
            </div>
            <h2 class="text-center">Servicios Individuales</h2>
            <div class="card-group">
                <div class="card">
                  <img src="imgs/fbigads.png" class="card-img-top" alt="Facebook e Instagram Ads">
                  <div class="card-body">
                    <h5 class="card-title">Facebook e Instagram Ads</h5>
                    <p class="card-text">¡Atrae a clientes ideales con campañas publicitarias!</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </div>
                </div>
                <div class="card">
                  <img src="imgs/landingPage.jpg" class="card-img-top" alt="landingPage">
                  <div class="card-body">
                    <h5 class="card-title">Landing Page</h5>
                    <p class="card-text">Una Landing page o página de aterrizaje tiene el proposito de mostrar tu marca y guiar al cliente a una acción especifica. Nos encargaremos de crear una página totalmente customizada segun sus necesidades y adaptable a todo tipo de dispositivos.</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </div>
                </div>
              </div>
        </section>
        <footer class="row flex-wrap justify-content-around align-items-center py-3 border-top" id="footer">
            <div class="col-lg-4 col-md-4  align-items-center" id="contacto">
              <h3>Redes Sociales</h3>
              <ul class="list-unstyled" id="social">
                <li>
                    <a href="#">
                        <i class="bi bi-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/leslyestradasocialmedia/">
                        <i class="bi bi-instagram"></i>
                    </a>
                    
                </li>
                <li>
                    <a href="https://wa.link/y82k6i">
                        <i class="bi bi-whatsapp"></i>
                    </a>
                </li>
              </ul>
            </div>
            <div class="col-lg-5 col-md-4" id="formulario">
                <form action="https://formsubmit.co/927d16717caaeac4131f62b5df99328f" method="POST"  id="form" class="row flex-column flex-wrap">
                    <label for="nombre" class="col-lg-3">
                        <input type="text" name="nombre" id="name" class="" placeholder="Nombre" required>
                    </label>                  
                    <label for="subject" class="col-lg-3">
                        <input type="text" name="subject" id="subject" class="" placeholder="Asunto" required>
                    </label>                  
                    <label for="email" class="col-lg-3">
                        <input type="email" name="email" id="email" class="" placeholder="Email" required>  
                    </label>
                    <label for="mensaje">
                        <textarea name="mensaje" id="message" cols="30" rows="5" placeholder="Escribe tu mensaje aqui..." required></textarea>
                    </label>
                    <input type="hidden" name="_next" value="https://lesly-cabrera-landing-page.vercel.app/thanks">
                    <label for="boton">
                        <button type="submit">
                            Enviar Mail
                        </button>
                    </label>
                   
                </form>
            </div>
        </footer>
    </main>


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/form.js"></script>
  </body>
</html>